﻿doctype html
html
    head
        title= title
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Get the file size for populair JavaScript frameworks and libraries.')
        meta(name='keywords', content='PackageSize,package,filesize,JavaScript,CSS,HTML,framework,library,front-end,MV*')
        meta(name='author', content='Jeroen van Warmerdam')
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/bootstrap-material-design/css/material.min.css')
        link(rel='stylesheet', href='/vendor/bootstrap-material-design/css/ripples.min.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        .container
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', 
                                                       data-toggle='collapse', 
                                                       data-target='#navbar', 
                                                       aria-expanded='false', 
                                                       aria-controls='navbar')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/') PackageSize
                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='/') Home
                            li
                                a(href='https://github.com/jerone/PackageSize', target='_blank') Source Code

        .container
            block content

        footer.footer.container
            p.pull-left.text-muted 
                | &copy; 2014 - #{new Date().getFullYear()} Jeroen van Warmerdam. 
                | All Rights Reserved. 
            p.pull-right.text-muted: small v#{version}

        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.min.js')
        script(src='/vendor/bootstrap-material-design/js/material.min.js')
        script(src='/vendor/bootstrap-material-design/js/ripples.min.js')
        script(src='/vendor/bootstrap-list-filter/bootstrap-list-filter.src.js')
        script(src='/js/script.js')
