﻿extends _layout

block content
    .row.row-md-flex.row-lg-flex
        .col-md-9
            .pkg-index-header-container
                .pkg-index-header
                    h1 PackageSize
                    p Get the file size for populair JavaScript frameworks and libraries.
                    p Use the search field or the tag cloud to find your framework or library and get the corresponding file size.
                .well
                    input.form-control.input-lg#searcher(type='search', placeholder='Search package...')
        .col-md-3
            .panel.panel-primary
                .panel-heading
                    h4 Top Tags
                .panel-body
                    .pkg-tag-cloud
                        each keyword in topKeywords
                            span.pkg-tag-cloud-item
                                a.label(href='/?keyword=' + keyword[0], class=currentKeyword&&currentKeyword===keyword[0]?'label-info':'label-primary')
                                    span= keyword[0]
                                    span.badge= keyword[1]
                            | 
    
    .row
        .col-md-9
            .well
                .list-group#libraries
                    each library in libraries
                        a(href='/data/' + library.name).list-group-item
                            span.badge= library.version
                            h3.list-group-item-heading= library.name
                            p.list-group-item-text=library.description
                            p.list-group-item-text.pkg-label-group
                                each keyword in library.keywords
                                    span.label.label-default= keyword
        .col-md-3
            .panel.panel-primary
                .panel-heading
                    h4 Tag Cloud
                .panel-body
                    .pkg-tag-cloud
                        each keyword in keywords
                            a.label(href='/?keyword=' + keyword, class=currentKeyword&&currentKeyword===keyword?'label-info':'label-primary')= keyword
                            | 
