body {
  padding-top: 20px; }

a > i {
  visibility: hidden; }
a:hover > i {
  visibility: visible; }

.pkg-index-header-container {
  display: flex;
  flex-wrap: wrap; }
  .pkg-index-header-container .pkg-index-header {
    padding: 0 15px; }
    .pkg-index-header-container .pkg-index-header h1 {
      margin-top: 0; }
  .pkg-index-header-container .well {
    align-self: flex-end;
    width: 100%; }

.pkg-tag-cloud {
  text-align: justify; }
  .pkg-tag-cloud .pkg-tag-cloud-item {
    white-space: nowrap; }
    .pkg-tag-cloud .pkg-tag-cloud-item .badge {
      display: inline;
      font-size: 100%;
      margin: 0 -0.6em 0 0.3em;
      padding: 0.2em 0.5em 0.3em; }

.pkg-label-group .label {
  display: inline-block;
  margin-right: 5px; }

.list-group .list-group-item-heading {
  margin-top: 5px; }
.list-group .list-group-item::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  content: "";
  display: block; }
.list-group .list-group-item:last-child::after {
  border-bottom: 0 none;
  content: "";
  display: block; }

.badge {
  border-radius: 0; }

.pkg-versions {
  text-align: center; }

@media (min-width: 380px) {
  .dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px; }
  .dl-horizontal dd {
    margin-left: 180px; } }

@media (min-width: 1200px) {
  .row-lg-flex, .row-lg-flex > div[class*=col-lg-] {
    display: flex;
    flex: 1 1 auto; }
  .row-lg-flex > div[class*=col-lg-] {
    margin: -.2px; }
  .row-lg-flex > div[class*=col-lg-] > div {
    width: 100%; } }

@media (min-width: 992px) {
  .row-md-flex, .row-md-flex > div[class*=col-md-] {
    display: flex;
    flex: 1 1 auto; }
  .row-md-flex > div[class*=col-md-] {
    margin: -.2px; }
  .row-md-flex > div[class*=col-md-] > div {
    width: 100%; } }

@media (min-width: 768px) {
  .row-sm-flex, .row-sm-flex > div[class*=col-sm-] {
    display: flex;
    flex: 1 1 auto; }
  .row-sm-flex > div[class*=col-sm-] {
    margin: -.2px; }
  .row-sm-flex > div[class*=col-sm-] > div {
    width: 100%; } }

.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
  color: inherit;
  display: inline-block;
  margin: -10px -15px;
  padding: 10px 15px;
  width: 100%; }
